.button1 { 
  display:inline-block; 
  padding:1em 2.9em; 
  border:0.1em solid #FFFFFF; 
  margin:0 0em 0.3em 0; 
  border-radius:0.1em; 
  box-sizing: border-box; 
  text-decoration:none; 
  font-family:'Roboto',sans-serif; 
  font-size: calc(10px + 2vmin);
  font-weight:300; 
  color:#FFFFFF;
  background-color: rgb(16,125,172);
  text-align:center; 
  transition: all 0.2s; 
}

.button1:hover {
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em) { 
  .button1 { 
    display:block; 
    margin:0.4em auto; 
  } 
}